In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv('./train.csv')
test = pd.read_csv('./test.csv')
stores = pd.read_csv('./stores.csv')
transactions = pd.read_csv('./transactions.csv')
holidays = pd.read_csv('./holidays_events.csv')
oil = pd.read_csv('./oil.csv')

In [3]:
oil['dcoilwtico'] = oil['dcoilwtico'].interpolate()

In [4]:
oil['dcoilwtico'] = oil['dcoilwtico'].fillna(93.14)

In [5]:
date_range = pd.date_range(start=oil['date'].min(), end=oil['date'].max())
df_dates = pd.DataFrame(date_range, columns=['date'])

In [6]:
oil['date'] = pd.to_datetime(oil['date'])

In [7]:
oil = pd.merge(df_dates, oil, on='date', how='left')

In [8]:
# Интерполяция
oil['dcoilwtico'].interpolate(method='linear', inplace=True)

In [9]:
oil_train = oil[oil['date'] <= '2017-08-15']
oil_test = oil[oil['date'] > '2017-08-15']

In [10]:
oil_train

           date  dcoilwtico
0    2013-01-01   93.140000
1    2013-01-02   93.140000
2    2013-01-03   92.970000
3    2013-01-04   93.120000
4    2013-01-05   93.146667
...         ...         ...
1683 2017-08-11   48.810000
1684 2017-08-12   48.403333
1685 2017-08-13   47.996667
1686 2017-08-14   47.590000
1687 2017-08-15   47.570000

[1688 rows x 2 columns]

In [11]:
holidays

,date,type,locale,locale_name,description,transferred
0,2012-03-02,Holiday,Local,Manta,Fundacion de Manta,False
1,2012-04-01,Holiday,Regional,Cotopaxi,Provincializacion de Cotopaxi,False
2,2012-04-12,Holiday,Local,Cuenca,Fundacion de Cuenca,False
3,2012-04-14,Holiday,Local,Libertad,Cantonizacion de Libertad,False
4,2012-04-21,Holiday,Local,Riobamba,Cantonizacion de Riobamba,False
...,...,...,...,...,...,...
345,2017-12-22,Additional,National,Ecuador,Navidad-3,False
346,2017-12-23,Additional,National,Ecuador,Navidad-2,False
347,2017-12-24,Additional,National,Ecuador,Navidad-1,False
348,2017-12-25,Holiday,National,Ecuador,Navidad,False
349,2017-12-26,Additional,National,Ecuador,Navidad+1,False

In [12]:
holidays_dict = {}

for index, row in holidays.iterrows():
    if row['type'] == 'Transfer':
        # Записываем настоящие даты празднования для переносных праздников
        holidays_dict[row['date']] = (row['locale'], row['locale_name'])
    else:
        # Записываем обычные праздники
        holidays_dict[row['date']] = (row['locale'], row['locale_name'])

In [13]:
merged_train = train.merge(stores, on='store_nbr', how='left')

In [14]:
merged_train

,id,date,store_nbr,family,sales,onpromotion,city,state,type,cluster
0,0,2013-01-01,1,AUTOMOTIVE,0.000,0,Quito,Pichincha,D,13
1,1,2013-01-01,1,BABY CARE,0.000,0,Quito,Pichincha,D,13
2,2,2013-01-01,1,BEAUTY,0.000,0,Quito,Pichincha,D,13
3,3,2013-01-01,1,BEVERAGES,0.000,0,Quito,Pichincha,D,13
4,4,2013-01-01,1,BOOKS,0.000,0,Quito,Pichincha,D,13
...,...,...,...,...,...,...,...,...,...,...
3000883,3000883,2017-08-15,9,POULTRY,438.133,0,Quito,Pichincha,B,6
3000884,3000884,2017-08-15,9,PREPARED FOODS,154.553,1,Quito,Pichincha,B,6
3000885,3000885,2017-08-15,9,PRODUCE,2419.729,148,Quito,Pichincha,B,6
3000886,3000886,2017-08-15,9,SCHOOL AND OFFICE SUPPLIES,121.000,8,Quito,Pichincha,B,6
3000887,3000887,2017-08-15,9,SEAFOOD,16.000,0,Quito,Pichincha,B,6

In [15]:
def check_holiday(row):
    if row['date'] in holidays_dict:
        locale, locale_name = holidays_dict[row['date']]

        # Если праздник национальный, то он отмечается везде
        if locale == 'National':
            return True

        # Если праздник региональный, учитываем штат
        if locale == 'Regional' and row['state'] == locale_name:
            return True

        # Если праздник местный, учитываем город
        if locale == 'Local' and row['city'] == locale_name:
            return True

    return False

merged_train['isHoliday'] = merged_train.apply(check_holiday, axis=1)

In [16]:
merged_train['isHoliday'].value_counts()

False    2739099
True      261789
Name: isHoliday, dtype: int64

In [17]:
merged_train['date'] = pd.to_datetime(merged_train['date'])

In [18]:
merged_train = merged_train.merge(oil_train, on='date', how='left')

In [19]:
merged_train.isna().sum()

id             0
date           0
store_nbr      0
family         0
sales          0
onpromotion    0
city           0
state          0
type           0
cluster        0
isHoliday      0
dcoilwtico     0
dtype: int64

In [20]:
merged_train

,id,date,store_nbr,family,sales,onpromotion,city,state,type,cluster,isHoliday,dcoilwtico
0,0,2013-01-01,1,AUTOMOTIVE,0.000,0,Quito,Pichincha,D,13,True,93.14
1,1,2013-01-01,1,BABY CARE,0.000,0,Quito,Pichincha,D,13,True,93.14
2,2,2013-01-01,1,BEAUTY,0.000,0,Quito,Pichincha,D,13,True,93.14
3,3,2013-01-01,1,BEVERAGES,0.000,0,Quito,Pichincha,D,13,True,93.14
4,4,2013-01-01,1,BOOKS,0.000,0,Quito,Pichincha,D,13,True,93.14
...,...,...,...,...,...,...,...,...,...,...,...,...
3000883,3000883,2017-08-15,9,POULTRY,438.133,0,Quito,Pichincha,B,6,False,47.57
3000884,3000884,2017-08-15,9,PREPARED FOODS,154.553,1,Quito,Pichincha,B,6,False,47.57
3000885,3000885,2017-08-15,9,PRODUCE,2419.729,148,Quito,Pichincha,B,6,False,47.57
3000886,3000886,2017-08-15,9,SCHOOL AND OFFICE SUPPLIES,121.000,8,Quito,Pichincha,B,6,False,47.57
3000887,3000887,2017-08-15,9,SEAFOOD,16.000,0,Quito,Pichincha,B,6,False,47.57

In [21]:
from sklearn.model_selection import train_test_split

X = merged_train.drop(columns=['date', 'sales'])
y = merged_train['sales']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [22]:
from catboost import CatBoostRegressor

categorical_features = ['store_nbr', 'family', 'city', 'state', 'type', 'cluster']

# model = CatBoostRegressor(iterations=1000, depth=10, learning_rate=0.05, loss_function='RMSE')
# model.fit(X_train, y_train, cat_features=categorical_features, eval_set=(X_test, y_test), verbose=100, early_stopping_rounds=10)

In [23]:
# y_pred = model.predict(X_test)
from sklearn.metrics import mean_squared_error
# print('The RMSE of prediction is:', mean_squared_error(y_test, y_pred) ** 0.5)

In [24]:
merged_test = test.merge(stores, on='store_nbr', how='left')

In [25]:
merged_test['isHoliday'] = merged_test.apply(check_holiday, axis=1)

In [26]:
merged_test.isna().sum()

id             0
date           0
store_nbr      0
family         0
onpromotion    0
city           0
state          0
type           0
cluster        0
isHoliday      0
dtype: int64

In [27]:
merged_test['date'] = pd.to_datetime(merged_test['date'])

In [28]:
merged_test = merged_test.merge(oil_test, on='date', how='left')

In [29]:
merged_test.isna().sum()

id             0
date           0
store_nbr      0
family         0
onpromotion    0
city           0
state          0
type           0
cluster        0
isHoliday      0
dcoilwtico     0
dtype: int64

In [30]:
merged_test

,id,date,store_nbr,family,onpromotion,city,state,type,cluster,isHoliday,dcoilwtico
0,3000888,2017-08-16,1,AUTOMOTIVE,0,Quito,Pichincha,D,13,False,46.80
1,3000889,2017-08-16,1,BABY CARE,0,Quito,Pichincha,D,13,False,46.80
2,3000890,2017-08-16,1,BEAUTY,2,Quito,Pichincha,D,13,False,46.80
3,3000891,2017-08-16,1,BEVERAGES,20,Quito,Pichincha,D,13,False,46.80
4,3000892,2017-08-16,1,BOOKS,0,Quito,Pichincha,D,13,False,46.80
...,...,...,...,...,...,...,...,...,...,...,...
28507,3029395,2017-08-31,9,POULTRY,1,Quito,Pichincha,B,6,False,47.26
28508,3029396,2017-08-31,9,PREPARED FOODS,0,Quito,Pichincha,B,6,False,47.26
28509,3029397,2017-08-31,9,PRODUCE,1,Quito,Pichincha,B,6,False,47.26
28510,3029398,2017-08-31,9,SCHOOL AND OFFICE SUPPLIES,9,Quito,Pichincha,B,6,False,47.26
28511,3029399,2017-08-31,9,SEAFOOD,0,Quito,Pichincha,B,6,False,47.26

In [31]:
merged_train

,id,date,store_nbr,family,sales,onpromotion,city,state,type,cluster,isHoliday,dcoilwtico
0,0,2013-01-01,1,AUTOMOTIVE,0.000,0,Quito,Pichincha,D,13,True,93.14
1,1,2013-01-01,1,BABY CARE,0.000,0,Quito,Pichincha,D,13,True,93.14
2,2,2013-01-01,1,BEAUTY,0.000,0,Quito,Pichincha,D,13,True,93.14
3,3,2013-01-01,1,BEVERAGES,0.000,0,Quito,Pichincha,D,13,True,93.14
4,4,2013-01-01,1,BOOKS,0.000,0,Quito,Pichincha,D,13,True,93.14
...,...,...,...,...,...,...,...,...,...,...,...,...
3000883,3000883,2017-08-15,9,POULTRY,438.133,0,Quito,Pichincha,B,6,False,47.57
3000884,3000884,2017-08-15,9,PREPARED FOODS,154.553,1,Quito,Pichincha,B,6,False,47.57
3000885,3000885,2017-08-15,9,PRODUCE,2419.729,148,Quito,Pichincha,B,6,False,47.57
3000886,3000886,2017-08-15,9,SCHOOL AND OFFICE SUPPLIES,121.000,8,Quito,Pichincha,B,6,False,47.57
3000887,3000887,2017-08-15,9,SEAFOOD,16.000,0,Quito,Pichincha,B,6,False,47.57

In [32]:
test_end = merged_test.drop(columns=['date'])

In [106]:
# new_data_predictions = model.predict(test_end)

In [107]:
# new_data_predictions

array([ -14.57297712,  -17.62038046,  -16.74172151, ..., 1465.28239896,
         53.7785436 ,    3.12809421])

In [111]:
# sub_1 = pd.DataFrame({
#     'id': test_end['id'].values,
#     'sales': new_data_predictions
# })

In [113]:
# sub_1['sales'] = sub_1['sales'].apply(lambda x: max(0, x))

In [114]:
# sub_1

            id        sales
0      3000888     0.000000
1      3000889     0.000000
2      3000890     0.000000
3      3000891  2357.486769
4      3000892     0.000000
...        ...          ...
28507  3029395   277.628270
28508  3029396    76.153093
28509  3029397  1465.282399
28510  3029398    53.778544
28511  3029399     3.128094

[28512 rows x 2 columns]

In [115]:
# sub_1.to_csv("sub_1.csv", index=False)

In [33]:
y_train_log = np.log1p(y_train)
y_test_log = np.log1p(y_test)

In [63]:
model = CatBoostRegressor(iterations=10000, depth=7, learning_rate=0.005, loss_function='RMSE')
model.fit(X_train, y_train_log, cat_features=categorical_features, eval_set=(X_test, y_test_log), verbose=100, early_stopping_rounds=10)

0:	learn: 2.6851799	test: 2.6870041	best: 2.6870041 (0)	total: 6.39s	remaining: 17h 45m 50s
100:	learn: 1.9725096	test: 1.9730470	best: 1.9730470 (100)	total: 1m 52s	remaining: 3h 4m 31s
200:	learn: 1.5803261	test: 1.5799204	best: 1.5799204 (200)	total: 3m 39s	remaining: 2h 58m 22s
300:	learn: 1.3531976	test: 1.3520845	best: 1.3520845 (300)	total: 5m 29s	remaining: 2h 57m 5s
400:	learn: 1.2267002	test: 1.2246975	best: 1.2246975 (400)	total: 7m 42s	remaining: 3h 4m 27s
500:	learn: 1.1554803	test: 1.1528508	best: 1.1528508 (500)	total: 9m 55s	remaining: 3h 8m 16s
600:	learn: 1.1086653	test: 1.1056402	best: 1.1056402 (600)	total: 12m 21s	remaining: 3h 13m 21s
700:	learn: 1.0809659	test: 1.0777272	best: 1.0777272 (700)	total: 14m 28s	remaining: 3h 11m 58s
800:	learn: 1.0505869	test: 1.0472604	best: 1.0472604 (800)	total: 17m 2s	remaining: 3h 15m 38s
900:	learn: 1.0284942	test: 1.0249873	best: 1.0249873 (900)	total: 19m 25s	remaining: 3h 16m 8s
1000:	learn: 1.0141135	test: 1.0104206	best: 1.0104206 (1000)	total: 21m 35s	remaining: 3h 14m 9s
1100:	learn: 1.0032227	test: 0.9993341	best: 0.9993341 (1100)	total: 24m 3s	remaining: 3h 14m 30s
1200:	learn: 0.9914815	test: 0.9872988	best: 0.9872988 (1200)	total: 26m 35s	remaining: 3h 14m 46s
1300:	learn: 0.9774377	test: 0.9728973	best: 0.9728973 (1300)	total: 29m 17s	remaining: 3h 15m 49s
1400:	learn: 0.9650130	test: 0.9601449	best: 0.9601449 (1400)	total: 31m 45s	remaining: 3h 14m 57s
1500:	learn: 0.9538971	test: 0.9488112	best: 0.9488112 (1500)	total: 34m 19s	remaining: 3h 14m 23s
1600:	learn: 0.9441201	test: 0.9388062	best: 0.9388062 (1600)	total: 36m 47s	remaining: 3h 13m 1s
1700:	learn: 0.9362891	test: 0.9308034	best: 0.9308034 (1700)	total: 39m 19s	remaining: 3h 11m 52s
1800:	learn: 0.9293612	test: 0.9238103	best: 0.9238103 (1800)	total: 42m 2s	remaining: 3h 11m 23s
1900:	learn: 0.9227181	test: 0.9171455	best: 0.9171455 (1900)	total: 44m 38s	remaining: 3h 10m 12s
2000:	learn: 0.9168509	test: 0.9112057	best: 0.9112057 (2000)	total: 47m 13s	remaining: 3h 8m 47s
2100:	learn: 0.9119498	test: 0.9062456	best: 0.9062456 (2100)	total: 49m 53s	remaining: 3h 7m 35s
2200:	learn: 0.9072890	test: 0.9014996	best: 0.9014996 (2200)	total: 52m 35s	remaining: 3h 6m 20s
2300:	learn: 0.9027198	test: 0.8967970	best: 0.8967970 (2300)	total: 55m 16s	remaining: 3h 4m 57s
2400:	learn: 0.8985740	test: 0.8925934	best: 0.8925934 (2400)	total: 57m 48s	remaining: 3h 2m 57s
2500:	learn: 0.8938014	test: 0.8877848	best: 0.8877848 (2500)	total: 1h 10s	remaining: 3h 26s
2600:	learn: 0.8895304	test: 0.8835296	best: 0.8835296 (2600)	total: 1h 2m 34s	remaining: 2h 57m 59s
2700:	learn: 0.8855978	test: 0.8796039	best: 0.8796039 (2700)	total: 1h 5m 4s	remaining: 2h 55m 49s
2800:	learn: 0.8813905	test: 0.8754041	best: 0.8754041 (2800)	total: 1h 7m 26s	remaining: 2h 53m 19s
2900:	learn: 0.8781123	test: 0.8720982	best: 0.8720982 (2900)	total: 1h 9m 59s	remaining: 2h 51m 16s
3000:	learn: 0.8748412	test: 0.8688082	best: 0.8688082 (3000)	total: 1h 12m 46s	remaining: 2h 49m 44s
3100:	learn: 0.8719356	test: 0.8658859	best: 0.8658859 (3100)	total: 1h 15m 29s	remaining: 2h 47m 56s
3200:	learn: 0.8687359	test: 0.8626657	best: 0.8626657 (3200)	total: 1h 18m 8s	remaining: 2h 45m 59s
3300:	learn: 0.8656228	test: 0.8595371	best: 0.8595371 (3300)	total: 1h 20m 55s	remaining: 2h 44m 13s
3400:	learn: 0.8625954	test: 0.8565114	best: 0.8565114 (3400)	total: 1h 23m 48s	remaining: 2h 42m 36s
3500:	learn: 0.8601186	test: 0.8540119	best: 0.8540119 (3500)	total: 1h 26m 29s	remaining: 2h 40m 32s
3600:	learn: 0.8574592	test: 0.8513255	best: 0.8513255 (3600)	total: 1h 29m 21s	remaining: 2h 38m 47s
3700:	learn: 0.8548766	test: 0.8487376	best: 0.8487376 (3700)	total: 1h 32m 5s	remaining: 2h 36m 44s
3800:	learn: 0.8520482	test: 0.8458903	best: 0.8458903 (3800)	total: 1h 34m 38s	remaining: 2h 34m 20s
3900:	learn: 0.8493791	test: 0.8432011	best: 0.8432011 (3900)	total: 1h 37m 12s	remaining: 2h 31m 59s
4000:	learn: 0.8467241	test: 0.8405306	best: 0.8405306 (4000)	total: 1h 39m 50s	remaining: 2h 29m 42s
4100:	learn: 0.8441082	test: 0.8379447	best: 0.8379447 (4100)	total: 1h 42m 24s	remaining: 2h 27m 17s
4200:	learn: 0.8415848	test: 0.8354423	best: 0.8354423 (4200)	total: 1h 45m 3s	remaining: 2h 25m
4300:	learn: 0.8393087	test: 0.8331947	best: 0.8331947 (4300)	total: 1h 47m 37s	remaining: 2h 22m 36s
4400:	learn: 0.8366986	test: 0.8306208	best: 0.8306208 (4400)	total: 1h 50m 15s	remaining: 2h 20m 16s
4500:	learn: 0.8341358	test: 0.8281164	best: 0.8281164 (4500)	total: 1h 52m 49s	remaining: 2h 17m 50s
4600:	learn: 0.8316805	test: 0.8256992	best: 0.8256992 (4600)	total: 1h 55m 32s	remaining: 2h 15m 34s
4700:	learn: 0.8294640	test: 0.8234899	best: 0.8234899 (4700)	total: 1h 58m 22s	remaining: 2h 13m 26s
4800:	learn: 0.8274113	test: 0.8214830	best: 0.8214830 (4800)	total: 2h 1m 4s	remaining: 2h 11m 6s
4900:	learn: 0.8252967	test: 0.8194069	best: 0.8194069 (4900)	total: 2h 3m 35s	remaining: 2h 8m 35s
5000:	learn: 0.8236226	test: 0.8177449	best: 0.8177449 (5000)	total: 2h 6m	remaining: 2h 5m 57s
5100:	learn: 0.8216311	test: 0.8157791	best: 0.8157791 (5100)	total: 2h 8m 46s	remaining: 2h 3m 40s
5200:	learn: 0.8196451	test: 0.8138657	best: 0.8138657 (5200)	total: 2h 11m 7s	remaining: 2h 59s
5300:	learn: 0.8174313	test: 0.8117041	best: 0.8117041 (5300)	total: 2h 13m 22s	remaining: 1h 58m 14s
5400:	learn: 0.8156588	test: 0.8099087	best: 0.8099087 (5400)	total: 2h 15m 38s	remaining: 1h 55m 29s
5500:	learn: 0.8138388	test: 0.8080554	best: 0.8080554 (5500)	total: 2h 17m 54s	remaining: 1h 52m 47s
5600:	learn: 0.8123687	test: 0.8065622	best: 0.8065622 (5600)	total: 2h 20m 15s	remaining: 1h 50m 9s
5700:	learn: 0.8107691	test: 0.8049776	best: 0.8049776 (5700)	total: 2h 22m 51s	remaining: 1h 47m 43s
5800:	learn: 0.8091057	test: 0.8033213	best: 0.8033213 (5800)	total: 2h 25m 34s	remaining: 1h 45m 22s
5900:	learn: 0.8075643	test: 0.8017792	best: 0.8017792 (5900)	total: 2h 28m 21s	remaining: 1h 43m 3s
6000:	learn: 0.8059287	test: 0.8001098	best: 0.8001098 (6000)	total: 2h 31m 9s	remaining: 1h 40m 44s
6100:	learn: 0.8042772	test: 0.7984571	best: 0.7984571 (6100)	total: 2h 34m 2s	remaining: 1h 38m 26s
6200:	learn: 0.8026124	test: 0.7967978	best: 0.7967978 (6200)	total: 2h 36m 31s	remaining: 1h 35m 53s
6300:	learn: 0.8009128	test: 0.7951236	best: 0.7951236 (6300)	total: 2h 39m 9s	remaining: 1h 33m 25s
6400:	learn: 0.7994325	test: 0.7936674	best: 0.7936674 (6400)	total: 2h 41m 41s	remaining: 1h 30m 54s
6500:	learn: 0.7979012	test: 0.7921480	best: 0.7921480 (6500)	total: 2h 44m 17s	remaining: 1h 28m 25s
6600:	learn: 0.7966795	test: 0.7909061	best: 0.7909061 (6600)	total: 2h 46m 53s	remaining: 1h 25m 56s
6700:	learn: 0.7952718	test: 0.7894604	best: 0.7894604 (6700)	total: 2h 49m 26s	remaining: 1h 23m 25s
6800:	learn: 0.7937225	test: 0.7879236	best: 0.7879236 (6800)	total: 2h 52m 4s	remaining: 1h 20m 56s
6900:	learn: 0.7923408	test: 0.7865469	best: 0.7865469 (6900)	total: 2h 54m 46s	remaining: 1h 18m 29s
7000:	learn: 0.7910714	test: 0.7852864	best: 0.7852864 (7000)	total: 2h 57m 24s	remaining: 1h 15m 59s
7100:	learn: 0.7899866	test: 0.7841748	best: 0.7841748 (7100)	total: 3h 1s	remaining: 1h 13m 29s
7200:	learn: 0.7886063	test: 0.7827701	best: 0.7827701 (7200)	total: 3h 2m 44s	remaining: 1h 11m 1s
7300:	learn: 0.7870200	test: 0.7811549	best: 0.7811549 (7300)	total: 3h 5m 30s	remaining: 1h 8m 34s
7400:	learn: 0.7857181	test: 0.7798022	best: 0.7798022 (7400)	total: 3h 8m 5s	remaining: 1h 6m 3s
7500:	learn: 0.7842050	test: 0.7782687	best: 0.7782687 (7500)	total: 3h 10m 43s	remaining: 1h 3m 32s
7600:	learn: 0.7829329	test: 0.7769690	best: 0.7769690 (7600)	total: 3h 13m 13s	remaining: 1h 59s
7700:	learn: 0.7816944	test: 0.7757255	best: 0.7757255 (7700)	total: 3h 15m 53s	remaining: 58m 28s
7800:	learn: 0.7804291	test: 0.7744359	best: 0.7744359 (7800)	total: 3h 18m 22s	remaining: 55m 55s
7900:	learn: 0.7790010	test: 0.7729728	best: 0.7729728 (7900)	total: 3h 20m 48s	remaining: 53m 20s
8000:	learn: 0.7775915	test: 0.7715262	best: 0.7715262 (8000)	total: 3h 23m 27s	remaining: 50m 49s
8100:	learn: 0.7760028	test: 0.7698651	best: 0.7698651 (8100)	total: 3h 26m 11s	remaining: 48m 20s
8200:	learn: 0.7747695	test: 0.7685914	best: 0.7685914 (8200)	total: 3h 28m 49s	remaining: 45m 48s
8300:	learn: 0.7730466	test: 0.7668221	best: 0.7668221 (8300)	total: 3h 31m 14s	remaining: 43m 14s
8400:	learn: 0.7716396	test: 0.7653815	best: 0.7653815 (8400)	total: 3h 33m 51s	remaining: 40m 42s
8500:	learn: 0.7704917	test: 0.7642178	best: 0.7642178 (8500)	total: 3h 36m 27s	remaining: 38m 10s
8600:	learn: 0.7690022	test: 0.7627206	best: 0.7627206 (8600)	total: 3h 39m 6s	remaining: 35m 38s
8700:	learn: 0.7675456	test: 0.7612520	best: 0.7612520 (8700)	total: 3h 41m 35s	remaining: 33m 4s
8800:	learn: 0.7664529	test: 0.7601564	best: 0.7601564 (8800)	total: 3h 44m 16s	remaining: 30m 33s
8900:	learn: 0.7652482	test: 0.7589390	best: 0.7589390 (8900)	total: 3h 47m 8s	remaining: 28m 2s
9000:	learn: 0.7640517	test: 0.7577348	best: 0.7577348 (9000)	total: 3h 49m 52s	remaining: 25m 30s
9100:	learn: 0.7627197	test: 0.7563858	best: 0.7563858 (9100)	total: 3h 52m 31s	remaining: 22m 58s
9200:	learn: 0.7616060	test: 0.7552808	best: 0.7552808 (9200)	total: 3h 55m 8s	remaining: 20m 25s
9300:	learn: 0.7606242	test: 0.7543210	best: 0.7543210 (9300)	total: 3h 57m 46s	remaining: 17m 52s
9400:	learn: 0.7596084	test: 0.7533089	best: 0.7533089 (9400)	total: 4h 28s	remaining: 15m 19s
9500:	learn: 0.7584678	test: 0.7521574	best: 0.7521574 (9500)	total: 4h 2m 56s	remaining: 12m 45s
9600:	learn: 0.7574919	test: 0.7511790	best: 0.7511790 (9600)	total: 4h 5m 24s	remaining: 10m 11s
9700:	learn: 0.7565372	test: 0.7502116	best: 0.7502116 (9700)	total: 4h 7m 58s	remaining: 7m 38s
9800:	learn: 0.7555399	test: 0.7492313	best: 0.7492313 (9800)	total: 4h 10m 30s	remaining: 5m 5s
9900:	learn: 0.7548338	test: 0.7485297	best: 0.7485297 (9900)	total: 4h 13m 5s	remaining: 2m 31s
9999:	learn: 0.7539963	test: 0.7476975	best: 0.7476975 (9999)	total: 4h 15m 50s	remaining: 0us

bestTest = 0.7476974767
bestIteration = 9999

In [54]:
y_pred_log = model.predict(test_end)

In [55]:
predictions = np.expm1(y_pred_log)

In [57]:
predictions

array([3.93828970e+00, 1.95890483e-01, 7.22570491e+00, ...,
       1.27791727e+03, 5.86242166e+01, 2.07364475e+01])

In [58]:
sub_2 = pd.DataFrame({
    'id': test_end['id'].values,
    'sales': predictions
})

In [59]:
sub_2

            id        sales
0      3000888     3.938290
1      3000889     0.195890
2      3000890     7.225705
3      3000891  2339.400786
4      3000892     0.195890
...        ...          ...
28507  3029395   250.260954
28508  3029396   127.788575
28509  3029397  1277.917270
28510  3029398    58.624217
28511  3029399    20.736447

[28512 rows x 2 columns]

In [60]:
sub_2['sales'] = sub_2['sales'].apply(lambda x: max(0, x))

In [62]:
sub_2.to_csv('sub_3.csv', index=False)