In [111]:
import pandas as pd
import numpy as np

In [112]:
train = pd.read_csv('./train.csv')
test = pd.read_csv('./test.csv')
stores = pd.read_csv('./stores.csv')
transactions = pd.read_csv('./transactions.csv')
oil = pd.read_csv('./oil.csv')
holidays = pd.read_csv('./holidays_events.csv')

In [113]:
train.tail()

,id,date,store_nbr,family,sales,onpromotion
3000883,3000883,2017-08-15,9,POULTRY,438.133,0
3000884,3000884,2017-08-15,9,PREPARED FOODS,154.553,1
3000885,3000885,2017-08-15,9,PRODUCE,2419.729,148
3000886,3000886,2017-08-15,9,SCHOOL AND OFFICE SUPPLIES,121.000,8
3000887,3000887,2017-08-15,9,SEAFOOD,16.000,0

In [114]:
test.head()

        id        date  store_nbr      family  onpromotion
0  3000888  2017-08-16          1  AUTOMOTIVE            0
1  3000889  2017-08-16          1   BABY CARE            0
2  3000890  2017-08-16          1      BEAUTY            2
3  3000891  2017-08-16          1   BEVERAGES           20
4  3000892  2017-08-16          1       BOOKS            0

In [115]:
stores.head()

   store_nbr           city                           state type  cluster
0          1          Quito                       Pichincha    D       13
1          2          Quito                       Pichincha    D       13
2          3          Quito                       Pichincha    D        8
3          4          Quito                       Pichincha    D        9
4          5  Santo Domingo  Santo Domingo de los Tsachilas    D        4

In [116]:
oil.head()

         date  dcoilwtico
0  2013-01-01         NaN
1  2013-01-02       93.14
2  2013-01-03       92.97
3  2013-01-04       93.12
4  2013-01-07       93.20

In [117]:
transactions.head()

         date  store_nbr  transactions
0  2013-01-01         25           770
1  2013-01-02          1          2111
2  2013-01-02          2          2358
3  2013-01-02          3          3487
4  2013-01-02          4          1922

In [118]:
holidays

,date,type,locale,locale_name,description,transferred
0,2012-03-02,Holiday,Local,Manta,Fundacion de Manta,False
1,2012-04-01,Holiday,Regional,Cotopaxi,Provincializacion de Cotopaxi,False
2,2012-04-12,Holiday,Local,Cuenca,Fundacion de Cuenca,False
3,2012-04-14,Holiday,Local,Libertad,Cantonizacion de Libertad,False
4,2012-04-21,Holiday,Local,Riobamba,Cantonizacion de Riobamba,False
...,...,...,...,...,...,...
345,2017-12-22,Additional,National,Ecuador,Navidad-3,False
346,2017-12-23,Additional,National,Ecuador,Navidad-2,False
347,2017-12-24,Additional,National,Ecuador,Navidad-1,False
348,2017-12-25,Holiday,National,Ecuador,Navidad,False
349,2017-12-26,Additional,National,Ecuador,Navidad+1,False

In [119]:
holidays['locale_name'].value_counts()

Ecuador                           174
Quito                              13
Riobamba                           12
Guaranda                           12
Latacunga                          12
Ambato                             12
Guayaquil                          11
Cuenca                              7
Ibarra                              7
Salinas                             6
Loja                                6
Santa Elena                         6
Santo Domingo de los Tsachilas      6
Quevedo                             6
Manta                               6
Esmeraldas                          6
Cotopaxi                            6
El Carmen                           6
Santo Domingo                       6
Machala                             6
Imbabura                            6
Puyo                                6
Libertad                            6
Cayambe                             6
Name: locale_name, dtype: int64

In [120]:
oil = oil[oil['date'] <= '2017-08-15']

In [121]:
data = train.merge(oil, on='date', how='outer')

In [122]:
data.head()

    id        date  store_nbr      family  sales  onpromotion  dcoilwtico
0  0.0  2013-01-01        1.0  AUTOMOTIVE    0.0          0.0         NaN
1  1.0  2013-01-01        1.0   BABY CARE    0.0          0.0         NaN
2  2.0  2013-01-01        1.0      BEAUTY    0.0          0.0         NaN
3  3.0  2013-01-01        1.0   BEVERAGES    0.0          0.0         NaN
4  4.0  2013-01-01        1.0       BOOKS    0.0          0.0         NaN

In [123]:
holidays = holidays[holidays['date'] >= '2013-01-01']
holidays = holidays[holidays['date'] <= '2017-08-15']

In [124]:
data = data.merge(holidays, on='date', how='outer')

In [125]:
data.head()

,id,date,store_nbr,family,sales,onpromotion,dcoilwtico,type,locale,locale_name,description,transferred
0,0.0,2013-01-01,1.0,AUTOMOTIVE,0.0,0.0,NaN,Holiday,National,Ecuador,Primer dia del ano,False
1,1.0,2013-01-01,1.0,BABY CARE,0.0,0.0,NaN,Holiday,National,Ecuador,Primer dia del ano,False
2,2.0,2013-01-01,1.0,BEAUTY,0.0,0.0,NaN,Holiday,National,Ecuador,Primer dia del ano,False
3,3.0,2013-01-01,1.0,BEVERAGES,0.0,0.0,NaN,Holiday,National,Ecuador,Primer dia del ano,False
4,4.0,2013-01-01,1.0,BOOKS,0.0,0.0,NaN,Holiday,National,Ecuador,Primer dia del ano,False

In [126]:
data = data.merge(stores, on='store_nbr', how='outer')

In [127]:
data.rename(columns={'type_x': 'type_holiday', 'type_y': 'type_store'}, inplace=True)

In [128]:
data

,id,date,store_nbr,family,sales,onpromotion,dcoilwtico,type_holiday,locale,locale_name,description,transferred,city,state,type_store,cluster
0,0.0,2013-01-01,1.0,AUTOMOTIVE,0.0,0.0,NaN,Holiday,National,Ecuador,Primer dia del ano,False,Quito,Pichincha,D,13.0
1,1.0,2013-01-01,1.0,BABY CARE,0.0,0.0,NaN,Holiday,National,Ecuador,Primer dia del ano,False,Quito,Pichincha,D,13.0
2,2.0,2013-01-01,1.0,BEAUTY,0.0,0.0,NaN,Holiday,National,Ecuador,Primer dia del ano,False,Quito,Pichincha,D,13.0
3,3.0,2013-01-01,1.0,BEVERAGES,0.0,0.0,NaN,Holiday,National,Ecuador,Primer dia del ano,False,Quito,Pichincha,D,13.0
4,4.0,2013-01-01,1.0,BOOKS,0.0,0.0,NaN,Holiday,National,Ecuador,Primer dia del ano,False,Quito,Pichincha,D,13.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3054347,3000887.0,2017-08-15,9.0,SEAFOOD,16.0,0.0,47.57,Holiday,Local,Riobamba,Fundacion de Riobamba,False,Quito,Pichincha,B,6.0
3054348,NaN,2013-12-25,NaN,NaN,NaN,NaN,NaN,Holiday,National,Ecuador,Navidad,False,NaN,NaN,NaN,NaN
3054349,NaN,2014-12-25,NaN,NaN,NaN,NaN,NaN,Holiday,National,Ecuador,Navidad,False,NaN,NaN,NaN,NaN
3054350,NaN,2015-12-25,NaN,NaN,NaN,NaN,NaN,Holiday,National,Ecuador,Navidad,False,NaN,NaN,NaN,NaN
3054351,NaN,2016-12-25,NaN,NaN,NaN,NaN,NaN,Holiday,National,Ecuador,Navidad,False,NaN,NaN,NaN,NaN

In [129]:
data.isna().sum()

id                    4
date                  0
store_nbr             4
family                4
sales                 4
onpromotion           4
dcoilwtico       955156
type_holiday    2551824
locale          2551824
locale_name     2551824
description     2551824
transferred     2551824
city                  4
state                 4
type_store            4
cluster               4
dtype: int64

## Заполнение пропущенных значений

In [139]:
from sklearn.impute import KNNImputer

imputer = KNNImputer(n_neighbors=1)

In [140]:
data['dcoilwtico'] = imputer.fit_transform(data['dcoilwtico'].values.reshape(-1, 1))

KeyboardInterrupt:

In [133]:
data.shape

(3054352, 16)

In [155]:
from tqdm import tqdm

In [156]:
def impute_in_chunks(df, column_name, chunk_size, imputer):

    updated_column = []

    for start in tqdm(range(0, len(df), chunk_size)):
        end = start + chunk_size
        chunk = df[column_name].iloc[start:end].values.reshape(-1, 1)
        imputed_chunk = imputer.fit_transform(chunk)
        updated_column.extend(imputed_chunk.ravel())

    return pd.Series(updated_column)

imputer = KNNImputer(n_neighbors=2)
chunk_size = len(data) // 100

data['dcoilwtico'] = impute_in_chunks(data, 'dcoilwtico', chunk_size, imputer)

100%|██████████| 101/101 [27:17<00:00, 16.22s/it]

In [157]:
data.isna().sum()

id                    4
date                  0
store_nbr             4
family                4
sales                 4
onpromotion           4
dcoilwtico            0
type_holiday    2551824
locale          2551824
locale_name     2551824
description     2551824
transferred     2551824
city                  4
state                 4
type_store            4
cluster               4
dtype: int64

In [161]:
holidays

,date,type,locale,locale_name,description,transferred
41,2013-01-01,Holiday,National,Ecuador,Primer dia del ano,False
42,2013-01-05,Work Day,National,Ecuador,Recupero puente Navidad,False
43,2013-01-12,Work Day,National,Ecuador,Recupero puente primer dia del ano,False
44,2013-02-11,Holiday,National,Ecuador,Carnaval,False
45,2013-02-12,Holiday,National,Ecuador,Carnaval,False
...,...,...,...,...,...,...
322,2017-07-25,Additional,Local,Guayaquil,Fundacion de Guayaquil,False
323,2017-08-05,Holiday,Local,Esmeraldas,Fundacion de Esmeraldas,False
324,2017-08-10,Holiday,National,Ecuador,Primer Grito de Independencia,True
325,2017-08-11,Transfer,National,Ecuador,Traslado Primer Grito de Independencia,False
326,2017-08-15,Holiday,Local,Riobamba,Fundacion de Riobamba,False

In [163]:
data

,id,date,store_nbr,family,sales,onpromotion,dcoilwtico,type_holiday,locale,locale_name,description,transferred,city,state,type_store,cluster
0,0.0,2013-01-01,1.0,AUTOMOTIVE,0.0,0.0,87.105507,Holiday,National,Ecuador,Primer dia del ano,False,Quito,Pichincha,D,13.0
1,1.0,2013-01-01,1.0,BABY CARE,0.0,0.0,87.105507,Holiday,National,Ecuador,Primer dia del ano,False,Quito,Pichincha,D,13.0
2,2.0,2013-01-01,1.0,BEAUTY,0.0,0.0,87.105507,Holiday,National,Ecuador,Primer dia del ano,False,Quito,Pichincha,D,13.0
3,3.0,2013-01-01,1.0,BEVERAGES,0.0,0.0,87.105507,Holiday,National,Ecuador,Primer dia del ano,False,Quito,Pichincha,D,13.0
4,4.0,2013-01-01,1.0,BOOKS,0.0,0.0,87.105507,Holiday,National,Ecuador,Primer dia del ano,False,Quito,Pichincha,D,13.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3054347,3000887.0,2017-08-15,9.0,SEAFOOD,16.0,0.0,47.570000,Holiday,Local,Riobamba,Fundacion de Riobamba,False,Quito,Pichincha,B,6.0
3054348,NaN,2013-12-25,NaN,NaN,NaN,NaN,47.576250,Holiday,National,Ecuador,Navidad,False,NaN,NaN,NaN,NaN
3054349,NaN,2014-12-25,NaN,NaN,NaN,NaN,47.576250,Holiday,National,Ecuador,Navidad,False,NaN,NaN,NaN,NaN
3054350,NaN,2015-12-25,NaN,NaN,NaN,NaN,47.576250,Holiday,National,Ecuador,Navidad,False,NaN,NaN,NaN,NaN
3054351,NaN,2016-12-25,NaN,NaN,NaN,NaN,47.576250,Holiday,National,Ecuador,Navidad,False,NaN,NaN,NaN,NaN

In [166]:
oil

            date  dcoilwtico
0     2013-01-01         NaN
1     2013-01-02       93.14
2     2013-01-03       92.97
3     2013-01-04       93.12
4     2013-01-07       93.20
...          ...         ...
1201  2017-08-09       49.59
1202  2017-08-10       48.54
1203  2017-08-11       48.81
1204  2017-08-14       47.59
1205  2017-08-15       47.57

[1206 rows x 2 columns]